<div class="row animate__animated animate__backInDown">
    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar Consultor....." #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <div class="card-body">
                Consultores {{numeroConsultores()}}
            </div>
        </div>
    </div>
</div>

<table class="table table-striped animate__animated animate__backInDown" style="z-index: -2;">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Consultora</th>
        <th class="text-center text-nowrap col-1" scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
        @for (consultor of consultores; track consultor){
            <tr>
                <td>{{consultor.nombre}}</td>
                <td>{{consultor.email}}</td>
                <td>{{consultor.telefono}}</td>
                <td>{{consultor.consultora}}</td>
                <td class="text-center text-nowrap col-1">
                    <button type="button" class="btn btn-outline-primary m-2" (click)="editarConsultor(consultor)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger" (click)="eliminarConsultor(consultor)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center animate__animated animate__backInDown">
    <button type="button" class="btn btn-outline-primary" (click)="agregarConsultor()">Añadir Consultor</button>
</div>
