<div class="row animate__animated animate__backInDown">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar Proyecto....." #txtTermino (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>
<br>
@for (recurso of recursosMostar; track recurso){
    <div class="card animate__animated animate__backInDown">
        <h5 class="card-header">{{ recurso.tipo }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{recurso.tipoProyecto}}t</h5>
            <p class="card-text">{{recurso.contenido}}</p>
            <button type="button" class="btn btn-danger" (click)="eliminar(recurso)">Eliminar</button>
            <button type="button" class="btn btn-warning m-lg-2" (click)="editar(recurso)">Editar</button>
        </div>
    </div>
    <br>
} @empty {
    <div class="alert alert-danger animate__animated animate__backInDown" role="alert">
        No se encontraron recursos
    </div>
}
