<div class="card">
    <div class="card-header">
        Estadísticas Globales
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">Total de proyectos certificados</h5>
                <p class="card-text">{{estadisticas.length}} Proyectos</p>
                <h5 class="card-title">Media de dias en Comite</h5>
                <p class="card-text">{{mediaDiasComite | number:'1.0-0'}} Días</p>
                <h5 class="card-title">Media de dias en Certificar</h5>
                <p class="card-text">{{mediaDiasCertificacion | number:'1.0-0'}} Días</p>
            </div>
            <div class="col">
                <h5 class="card-title">Precio Medio Oferta</h5>
                <input class="form-control" [(ngModel)]="precioMedioOferta" (ngModelChange)="calcularProyectosMedios()" type="number">
                @if(precioMedioOferta != 0){
                    <br>
                    <h5 class="card-title">Numero de Proyectos Equivalentes</h5>
                    <p class="card-text">{{proyectosEquivalentes | number:'1.0-2'}}</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Estadísticas en proyectos
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped animate__animated animate__backInDown" style="z-index: -2;">
                <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Acronimo</th>
                    <th scope="col">Dias en comite</th>
                    <th scope="col">Dias en certificarse</th>
                    <th scope="col">Versiones de comite</th>
                    <th scope="col">Precio Oferta</th>
                </tr>
                </thead>
                <tbody>
                    @for(estadistica of estadisticas; track estadistica){
                        <tr>
                            <td>{{ estadistica.Codigo}}</td>
                            <td>{{ estadistica.Acronimo }}</td>
                            <td>{{ estadistica.diasComite| number:'1.0-0' }}</td>
                            <td>{{ estadistica.diasCertificacion | number:'1.0-0' }}</td>
                            <td>{{ estadistica.versionComite }}</td>
                            <td>{{ estadistica.precioOferta | currency:'€' }}</td>
                        </tr>
                    }
            </table>

        </div>
    </div>
</div>


