<div class="container animate__animated animate__backInDown">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center">Añadir Proyecto</h1>
        <button (click)="volverInicio()" class="btn btn-outline-secondary">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
    </div>
    <form class="p-2" [formGroup]="proyectoForm"  (submit)="agregar()">
        <div class="row mb-3">
            <label for="codigo" class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="codigo" name="codigo" formControlName="codigo">
            </div>
        </div>
        <div class="row mb-3">
            <label for="acronimo" class="col-sm-2 col-form-label">Acrónimo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="acronimo" name="acronimo" formControlName="acronimo">
            </div>
        </div>
        <div class="row mb-3">
            <label for="titulo" class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo">
            </div>
        </div>
        <div class="row mb-3">
            <label for="cliente" class="col-sm-2 col-form-label">Cliente:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cliente" name="cliente" formControlName="cliente">
            </div>
        </div>
        <div class="row mb-3">
            <label for="ejercicio" class="col-sm-2 col-form-label">Ejercicio:</label>
            <div class="col-sm-10">
                <input type="number" min="2010" class="form-control" id="ejercicio" name="ejercicio" formControlName="ejercicio">
            </div>
        </div>
        <div class="row mb-3">
            <label for="consultoras" class="col-sm-2 col-form-label">Consultores:</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" id="consultoras" #consultora (change)="mostrarConsultores(consultora)">
                    <option selected>Selecciona un consultor</option>
                    @for (consultora of consultoras; track consultora){
                        <option value="{{consultora}}">{{consultora}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="consultores" class="col-sm-2 col-form-label">Consultores:</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" id="consultores" formControlName="consultor">
                    <option selected>Selecciona un consultor</option>
                    @for (consultor of consultoraSelecionado; track consultor){
                        <option value="{{consultor.id}}">{{consultor.nombre}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="IMV" class="col-sm-2 col-form-label">IMV:</label>
            <div class="col-sm-10">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="IMV" name="IMV" formControlName="IMV">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="precioOfertado" class="col-sm-2 col-form-label">Precio Oferta:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="precioOfertado" name="precioOfertado" formControlName="precioOfertado">
            </div>
        </div>
        <div class="row mb-3">
            <label for="codigoUnesco" class="col-sm-2 col-form-label">Codigo Unesco:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="codigoUnesco" name="codigoUnesco" formControlName="codigoUnesco">
            </div>
        </div>

        <div class="row mb-3">
            <label for="proyectoPrincipal" class="col-sm-2 col-form-label">Proyecto Principal:</label>
            <div class="col-sm-10">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="proyectoPrincipal" name="proyectoPrincipal" formControlName="proyectoPrincipal">
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="tipoProyecto" class="col-sm-2 col-form-label">Tipo de Proyecto:</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Default select example" id="tipoProyecto" formControlName="tipoProyecto">
                    <option value="Deducciones">Deducciones</option>
                    <option value="Bonificaciones">Bonificaciones</option>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary m-2">
                <i class="fas fa-save"></i>
            </button>
        </div>
    </form>
</div>
